<p id="notice"><%= notice %></p>

<p>
  <b>Barrio:</b>
  <%= @barrio.barrio %>
</p>

<%= link_to 'Edit', edit_barrio_path(@barrio), class: 'button' %> |
 <%= link_to 'New Barrio', new_barrio_path, class: 'button' %>

